.valor-tabuada {
  margin: 3px 0;
}

.box-cupom {
  .input-group {
    input {
      margin-top: 15px;
    }
  }
}

.container {
  .line-2 {
    height: 4px;
    margin: 10px 0;
    background-color: #6533b7;
  }
}

button {
  margin-top: 20px;
  display: flex;
  padding: 10px 50px;
  cursor: pointer;
  background-color: #6278f7;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}
